<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cs.jou.infrastructure.mapper.CommentContentMapper">

    <resultMap id="BaseResultMap" type="cs.jou.infrastructure.pojo.CommentContent">
            <id property="tblCommentIndexId" column="tbl_comment_index_id" jdbcType="VARCHAR"/>
            <result property="ip" column="ip" jdbcType="VARCHAR"/>
            <result property="meta" column="meta" jdbcType="VARCHAR"/>
            <result property="device" column="device" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="SMALLINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        tbl_comment_index_id,ip,meta,
        device,create_time,create_by,
        deleted,message
    </sql>
</mapper>
